.auth-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-form button {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #1a252f;
}

.toggle-switch {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.toggle-switch button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background: lightgray;
}

.toggle-switch .active {
    background: #2c3e50;
    color: white;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
