body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #e0e7ec, #e0e7ec);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: left;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: auto;   
}

.footerBottom a {
    color: #333;
    text-decoration: none; 
}

main {
    flex: 1;
    padding-bottom: 50px;
}